.container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  gap: 100px;
  width: 100vw;
}

.hero-shot {
  height: 390px;
  width: 400px;
  border-radius: 100%;
  object-fit: cover;
  object-position: center top;
}

.stack-text {
  font-weight: 900;
  font-size: 3rem;
}

.bio {
  font-size: 1.2rem;
}
.social-links {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 40px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10rem;
}

.languages-tools {
  font-size: 20px;
  margin-top: 10px;
  margin-right: 10px;
  font-style: oblique;
}

.tool-icons-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-right: 10px;
  gap: 30px;
  font-size: 30px;
}
.tool-icons {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 30px;
  margin-top: 10px;
  margin-right: 10px;
}

.resume-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 20px;
  width: 126px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
  margin: auto;
  margin-bottom: 50px;
}

.resume-btn:hover {
  background-color: #0056b3;
}

@media (max-width: 392px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0;
  }
  .hero-shot {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 300px;
    width: 300px;
    object-fit: cover;
    object-position: center top;
    margin-top: 50px;
  }
  .text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .stack-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 20px;
  }
  p {
    font-size: 10px;
  }
  .social-links {
    margin: 10px 0px;
  }
  a {
    margin: 0px;
  }
  .languages-tools {
    font-size: 16px;
    margin: 10px 0px;
  }

  .tool-icons-container {
    font-size: 24px;
    margin: 10px 0px;
    gap: 15px;
  }

  .tool-icons {
    font-size: 24px;
    margin: 10px 0px;
    gap: 15px;
  }
  .resume-btn {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 699px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .hero-shot {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 300px;
    width: 300px;
    object-fit: cover;
    object-position: center top;
    margin-top: 90px;
  }
  .text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .stack-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 20px;
  }
  .social-links {
    margin: 10px 0px;
  }
  a {
    margin: 0px;
  }
  .languages-tools {
    font-size: 16px;
    margin: 10px 0px;
  }

  .tool-icons-container {
    font-size: 24px;
    margin: 10px 0px;
    gap: 15px;
  }

  .tool-icons {
    font-size: 24px;
    margin: 10px 0px;
    gap: 15px;
  }
  .resume-btn {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
