.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-container {
  display: flex;
  margin: 50px;
}
.img {
  height: 200px;
  width: 200px;
}

@media (max-width: 392px) {
  .projects-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .img {
    height: 200px;
    width: 200px;
  }
}
