.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-container {
  display: flex;
  gap: 50px;
  margin: 50px;
}

img {
  width: 200px;
  height: 400px;
}
