@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

body {
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

/* TRANSITION */

/* DESKTOP NAV */

nav,
.nav-links,
.logo {
  display: flex;
}

nav {
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
  margin-right: 2rem;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}
a:hover {
  color: gray;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

.logo {
  font-size: 2rem;
  margin-left: 3rem;
}

.logo:hover {
  cursor: default;
}

/* HAMBURGER MENU */

@media (max-width: 573px) {
  .nav-bar {
    display: none;
  }
}
